In [13]:
import pandas as pd
from sklearn import preprocessing
import sklearn.model_selection as ms
from sklearn import linear_model
import sklearn.metrics as sklm
import numpy as np
import numpy.random as nr
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as ss
import math
from sklearn import feature_selection as fs

from sklearn.linear_model import LinearRegression

from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor

from sklearn.neural_network import MLPRegressor

from sklearn.svm import SVR

%matplotlib inline

In [14]:
AdvWorksCusts = pd.read_csv('./Data/AdvWorksCusts.csv')
AW_AveMonthSpend = pd.read_csv('./Data/AW_AveMonthSpend.csv')
AdvWorksCusts = AdvWorksCusts.merge(AW_AveMonthSpend, on='CustomerID')
AdvWorksCusts.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,AveMonthSpend
0,11000,NaN,Jon,V,Yang,NaN,3761 N. 14th St,NaN,Rockhampton,Queensland,...,Bachelors,Professional,M,M,1,0,0,2,137947,89
1,11001,NaN,Eugene,L,Huang,NaN,2243 W St.,NaN,Seaford,Victoria,...,Bachelors,Professional,M,S,0,1,3,3,101141,117
2,11002,NaN,Ruben,NaN,Torres,NaN,5844 Linden Land,NaN,Hobart,Tasmania,...,Bachelors,Professional,M,M,1,1,3,3,91945,123
3,11003,NaN,Christy,NaN,Zhu,NaN,1825 Village Pl.,NaN,North Ryde,New South Wales,...,Bachelors,Professional,F,S,0,1,0,0,86688,50
4,11004,NaN,Elizabeth,NaN,Johnson,NaN,7553 Harness Circle,NaN,Wollongong,New South Wales,...,Bachelors,Professional,F,S,1,4,5,5,92771,95

In [15]:
Features = np.array(pd.read_csv('./PreparedData/AveMonthSpendFeatures.csv'))
Labels = np.array(pd.read_csv('./PreparedData/AveMonthSpendLabels.csv'))
Features_test = np.array(pd.read_csv('./PreparedData/Features_test.csv'))
Features.shape

(16404, 34)

In [19]:
## Feature Selection
sel = fs.VarianceThreshold(threshold=(.8 * (1 - .8)))
Features_reduced = sel.fit_transform(Features)
Features_test_reduced = sel.fit_transform(Features_test)
Features_reduced.shape

(16404, 16)

# Linear Regression

In [21]:
lin_reg = linear_model.LinearRegression(fit_intercept = False).fit(Features_reduced, Labels)
preds = lin_reg.predict(Features_test_reduced)
result = np.exp(preds)
pd.DataFrame(result).to_csv('./PredictionResults/AveMonthSpend_LinearRegression.csv')

# Gradient Boost

In [24]:
Labels = Labels.reshape(Labels.shape[0],)
gb_reg = GradientBoostingRegressor().fit(Features_reduced, Labels)
preds = gb_reg.predict(Features_test_reduced)
result = np.exp(preds)
pd.DataFrame(result).to_csv('./PredictionResults/AveMonthSpend_GB.csv')

# Random Forest

In [25]:
gb_reg = RandomForestRegressor(max_features=1.0, min_samples_leaf=5, n_estimators=100).fit(Features_reduced, Labels)
preds = gb_reg.predict(Features_test_reduced)
result = np.exp(preds)
pd.DataFrame(result).to_csv('./PredictionResults/AveMonthSpend_RF.csv')

# Neural Network

In [ ]:
mlp_reg = MLPRegressor(max_features=1.0, min_samples_leaf=5, n_estimators=100).fit(Features_reduced, Labels)
preds = gb_reg.predict(Features_test_reduced)
result = np.exp(preds)
pd.DataFrame(result).to_csv('./PredictionResults/AveMonthSpend_RF.csv')